
    <head>
        <title>Mike Brito</title>
       
        <link rel="stylesheet" href="/about.css">
       

    </head>
    
    <body>
        <header>
            <div class="links">
                <a href="/about">Sobre</a>
                <a href="/portifolio">Aula</a>    
            </div>
        </header>
        
        {% block content %}{% endblock %}
    </body>

</html>